<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--<groups><run><include name="facebook"></include></run></groups>-->
  <test thread-count="5" name="Test">
  <parameter name="Data" value="karthik"></parameter>
    <classes>
    
     <!-- <class name="TestNGProject.NewTestNGProject"/>-->
      <class name="TestNGProject.SecondTestNGProj"/>
    </classes> <!-- Test -->
    </test>
</suite> <!-- Suite -->
